@media screen and (max-width: 1280px)
{
    #bienvenue
    {
        font-size:xx-small;
    }

    #rebours
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90%;
        font-weight: bold;
    }
}